.bg-light {
    background-color: #e63030!important;
}
.navbar-brand{
    color:white !important;
    font-weight: bold;
}

.nav-link{
    color: white !important;
}

.btn{
    background: #e63030;
    color:white;
}
.navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    cursor: pointer;
}
.navbar-brand {
    color: white !important;
    font-weight: bold;
    cursor: pointer;
}

app-search-bar-component{
    margin-right: 2%;
}
