<nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" (click)="flux()">Konnected</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav" (click)="flux()">
            <li class="nav-item active">
              <a class="nav-link" >Flux D'actualité <span class="sr-only">(current)</span></a>
            </li>
          </ul>
          <ul class="navbar-nav" (click)="ami()">
            <li class="nav-item active">
              <a class="nav-link" >Mes amis<span class="sr-only">(current)</span></a>
            </li>
          </ul>               
        </div>
        <app-search-bar-component></app-search-bar-component>
            <div class="btn-group" role="group" aria-label="Basic example">
              <button type="button" class="btn" (click)='monCompte()'>Mon Compte</button>
              <button type="button" class="btn" (click)='deconnexion()'>Déconnexion</button>
            </div>
      </nav>
