.textArea {
  width: 98%;
  bottom: 0%;
  position: absolute;
  margin-left: 1%;
}

textarea {
  resize: none;
}

.btn {
  width: 100%;
  background: #E63030 !important;
  margin-bottom: 2%;
}

.messageAmi {
  border: solid;
  background: #01796F;
  color: white;
  width: 30%;
  border-radius: 10px;
  padding: 1%;
}


.messageUser {
  border: solid;
  background: #003366;
  color: white;
  width: 30%;
  border-radius: 10px;
  padding: 1%;
  float: right;
}
