<app-navbar></app-navbar>
<div class="messageAmi">
  <p>Hey salut</p>
</div>
<div class="messageUser">
  <p>Hey ça va ?</p>
</div>

<div class="textArea">
  <form>
    <div class="form-group">
      <!-- <label for="exampleFormControlTextarea1">Example textarea</label> -->
      <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Ecrire quelque chose..."
        rows="3"></textarea>
    </div>
    <button type="button" class="btn btn-primary">Envoyer</button>

  </form>
</div>
