.box {
  border: solid;
  width: 40%;
  height: auto;
  margin-left: 30%;
  margin-top: 2%;
  border-radius: 10px;
}

.textArea {
  width: 90%;
  margin: 0 auto;
  margin-top: 2%;
}

.text {
  //border: 1.1px solid;
  width: 100%;
  padding: 2%;
}

.boutonPlacement {
  text-align: center;
  margin-top: 1%;
  margin-bottom: 2%;
}

.btnK {
  background: #E63030 !important;
  float: left;
}

.btnR {
  background: #E63030 !important;
}

.btnP {
  background: #E63030 !important;
  float: right;
}

.konnect {
  float: right;
  margin: 5px;
  margin-right: 10px;
  background: #f44336;
  color: white;
  font-weight: bold;
  font-size: 15px;
  padding: 2%;
  border: 1px solid #ffffff;
  border-radius: 20%;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 2px solid BLACK;
}

.titre {
  //color: #E63030;
  font-weight: bold;
  margin-bottom: 1%;
}

.titreHR{
    width: 100%;
    border: 0;
    border-top: 1.9px solid #f44336;
    margin: unset;
}

.textAreaCacher {
  width: 98%;
  margin-left: 1%;
}

textarea {
  resize: none;
}

.btnEnvoi {
  width: 100%;
  background: #E63030 !important;
  margin-bottom: 2%;
}