<div class="box">
  <div class="konnect">
    250 K
  </div>
  <div class="textArea">
    <p class="titre">@RohGame</p>
    <hr class='titreHR'>
    <div class="text">
      <p>Ce monde est cruel !!! <br>
        Curabitur id iaculis ipsum. Maecenas massa eros, ullamcorper vel orci quis, ornare sollicitudin sapien. Donec
        auctor lorem eget convallis rutrum. Quisque vel placerat arcu. Curabitur tempus porttitor leo, nec commodo elit
        malesuada eu. Nulla facilisi. Morbi laoreet vitae nunc vitae rhoncus.
      </p>
    </div>
    <hr>
    <div class="boutonPlacement">
      <button type="button" class="btn btn-primary btnK">Konnect</button>
      <button type="button" class="btn btn-primary btnR" (click)="affichage()">Répondre</button>
      <button type="button" class="btn btn-primary btnP">Partager</button>
    </div>
    <div class="textAreaCacher" *ngIf="Affichage == true">
      <form>
        <div class="form-group">
          <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Ecrire quelque chose..."
            rows="3"></textarea>
        </div>
        <button type="button" class="btn btn-primary btnEnvoi">Envoyer</button>
      </form>
    </div>
  </div>
</div>
