    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand">Konnected</a>
    </nav>
    <div class="formulaire">
        <h2>Inscription</h2>
        <hr>
      <form>
        <div class="form-group">
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Nom">
        </div>
        <div class="form-group">
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
            placeholder="Prénom">
        </div>
        <div class="form-group">
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email">
        </div>
        <div class="form-group">
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Mot de passe">
        </div>
        <div class="form-group">
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Confirmer mot de passe">
        </div>
        <button class="btn btn-primary btn-lg btn-block">S'inscrire</button>
        <button class="btn btn-primary btn-lg btn-block">Une petite visite guidée ?</button>
      </form>
    </div>
