<div>
  <app-navbar></app-navbar>
  <!-- <app-search-bar-component></app-search-bar-component> -->
  <app-influenceur-component></app-influenceur-component>
  <app-tendance-component></app-tendance-component>
  <app-notification-component></app-notification-component>
  <app-text-area-component></app-text-area-component>
  <app-publication></app-publication>
  <router-outlet></router-outlet>
</div>
