.box{
    position: absolute;
    border: solid;
    width: 20%;
    height: 15em;
    margin-left: 2%;
    margin-top: 25%;
    border-radius: 4%;
}

.titre{
    font-weight: bold;
    text-align: center;
    padding-top: 10px;
    color: white;
}

.boxTitre{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: #e63030 !important;
    padding: 2px;
}

.topInfluence{
    text-align: center;
    margin-top: 5%;
}

img{
    height: 20px;
}

.influ{
    margin: 10px;
}

.invisible{
    visibility: hidden;
}