<!-- <p>influenceur-component works!</p> -->
<div class="box">
  <div class="boxTitre">
    <p class="titre">@ Top Influenceur</p>
  </div>
  <div class="topInfluence">
    <div class="influ"><span>@JohnDoe : 259 Konnects </span><img src="../../../assets/crown.svg" alt=""></div>
    <div class="influ"><span>@DNicolas : 223 Konnects </span><img src="../../../assets/crown (1).svg" alt=""> </div>
    <div class="influ"><span>@JojoGeek : 201 Konnects </span><img src="../../../assets/crown (2).svg" alt=""> </div>
    <div class="influ"><span>@RohGame : 201 Konnects </span><img class="invisible" src="../../../assets/crown (2).svg" alt=""></div>
  </div>
</div>