.box{
    border: solid;
    width: 20%;
    height: 32em;
    float: right;
    margin-right: 2%;
    margin-top: 2%;
    border-radius: 2%;
}

.titre{
    font-weight: bold;
    text-align: center;
    padding-top: 10px;
    color: white;
}

.boxTitre{
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background: #e63030 !important;
    padding: 2px;
}

.titreNotif{
    color: #e63030;
    font-weight: bold;
}

.notificationPlacement{
    padding: 5%;
    //text-align: center;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 2px solid rgba(0, 0, 0, 0.98);
}