<div class="box">
  <div class="boxTitre">
    <p class="titre">Notification</p>
  </div>
  <div class="notificationPlacement">
    <p><span class="titreNotif">@Rohgame</span> à publier un nouveau post!</p>
    <hr>
  </div>
</div>
