.box {
  border: solid;
  width: 40%;
  height: auto;
  margin-left: 30%;
  margin-top: 2%;
  border-radius: 10px;
}

.textArea {
  width: 90%;
  margin: 0 auto;
  margin-top: 2%;
}

textarea {
  resize: none;
}

.btn {
  width: 100%;
  background: #E63030!important;
  margin-bottom: 2%;
}


