<div class="box">
  <div class="textArea">
    <form>
      <div class="form-group">
        <!-- <label for="exampleFormControlTextarea1">Example textarea</label> -->
        <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Ecrire quelque chose..." rows="3"></textarea>
      </div>
      <button type="button" class="btn btn-primary">Publier</button>

    </form>
  </div>
</div>
