<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand">Konnected</a>
  </nav>
<div class="formulaire">
    <div class="alert alert-dark" role="alert" *ngIf="affichageAlert == true">
        Email ou Mot de passe incorrect !
        <br> email = root@root.fr
        <br> mdp = root
    </div>
    <h2>Connexion</h2>
    <hr>
  <form class="form" role="form" (ngSubmit)="connexion()" [formGroup]="loginForm">
    <div class="form-group">
      <input type="email" class="form-control" name="email" id="email" formControlName="email" placeholder="Email">
    </div>
    <div class="form-group">
      <input type="password" class="form-control" name="password" id="password" formControlName="password" placeholder="Mot de passe">
    </div>
    <button type="submit" class="btn btn-primary btn-lg btn-block" (click)='connexion()'>Connexion</button>
    <button class="btn btn-primary btn-lg btn-block" (click)='signin()'>Inscription</button>
    <button class="btn btn-primary btn-lg btn-block">Une petite visite guidée ?</button>
  </form>
</div>
