<div class="box">
  <div class="boxTitre">
    <p class="titre"># Top Tendance</p>
  </div>
  <div class="topInfluence">
    <div class="influ"><span># Sport : 259 vues </span><img src="../../../assets/fire (1).svg" alt=""></div>
    <div class="influ"><span># Film : 223 vues </span><img src="../../../assets/fire (2).svg" alt=""> </div>
    <div class="influ"><span># Développeur : 201 vues </span><img src="../../../assets/fire.svg" alt=""> </div>
    <div class="influ"><span># Serie : 201 vues </span><img class="invisible" src="../../../assets/crown (2).svg" alt=""></div>
  </div>
</div>
