<app-navbar></app-navbar>
<div class="ami">
  <div class="listeAmi">
    <ul class="list-group">
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Martin Lee
        <div class="btn-group" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-secondary" (click)="message()">Message</button>
          <button type="button" class="btn btn-danger">Supprimer</button>
        </div>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Martine Xdark
        <span class="badge badge-secondary">New</span>
        <div class="btn-group" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-secondary" (click)="message()">Message</button>
          <button type="button" class="btn btn-danger">Supprimer</button>
        </div>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Olivier Lambert
        <div class="btn-group" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-secondary" (click)="message()">Message</button>
          <button type="button" class="btn btn-danger">Supprimer</button>
        </div>
      </li>
    </ul>
  </div>
</div>
