.formulaire{
    width: 30%;
    margin: auto;
    margin-top: 7%;
}

.btn{
    background: #E63030;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 3px solid #f44336;
}